pkgbase = vapoursynth-git
	pkgdesc = A video processing framework with simplicity in mind. (GIT version)
	pkgver = 77.r4735.g33769c54
	pkgrel = 1
	url = https://www.vapoursynth.com
	arch = x86_64
	license = LGPL-2.1-or-later
	license = custom:WTFPL
	makedepends = git
	makedepends = cython
	makedepends = meson
	makedepends = ninja
	makedepends = python-build
	makedepends = python-installer
	makedepends = meson-python
	makedepends = python-wheel
	depends = python
	depends = zimg
	provides = vapoursynth=77
	provides = libvapoursynth.so
	provides = libvsscript.so
	conflicts = vapoursynth
	options = debug
	source = git+https://github.com/vapoursynth/vapoursynth.git#branch=master
	source = vapoursynth.xml
	source = wtfpl.txt
	sha256sums = SKIP
	sha256sums = 8e51579547d20cd7cb9618a47b3ac508423d09d76649bf038d0ab9acb850b068
	sha256sums = 7637386b5f81e8a719ca336233149005e5fa28b5e6054ea7b67de49355b0ad40

pkgname = vapoursynth-git
	depends = python
	depends = zimg
	depends = libzimg.so
